#block-main {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

#block-main div{
    display: flex;
    align-items: center;
}

#input-top {
    margin-top: -30px;
}

#block-main input {
    height: 40px;
    width: 350px;
    border-radius: 30px;
    border: 1px solid rgb(141, 141, 141);
    margin-top: 40px;
}

#block-main button {
    width: 130px;
    height: 35px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: rgb(8, 80, 248);
    margin-top: 30px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

#block-main h2 {
    font-weight: bold;
    font-size: 45px;
}

.sign-in-text {
    font-weight: bold;
    margin-top: 20px;
}

.icons-bottom {
    display: flex;
    width: 100%;
    margin: 10px auto auto auto;
    
}

.icons-bottom div{
    border: 0.1px solid rgb(158, 158, 158);
    border-radius: 50%;
    display: flex;
    height: 50px;
    width: 50px;
    flex-direction: row;
    -ms-flex-align: center;
    justify-content: space-between;
    text-align: center;
    margin: auto;
}

.icons-bottom img {
    height: 50%;
    margin: auto;
}

#icon-google {
    text-decoration: none;
}

#icon-linkedin {

}