section{

    position: relative;
    width: 100%;
    height: 100wh;
    display: flex;
    
}
section .imagebox {
    position: relative;
    width: 50%;
    height:100% ;
}
section .imagebox img {
    position: absolute;
    height: 95vh;
    background-color: blue;

   }
section .contentbox {
    position: absolute;
    right: 150px; 
    text-align: center;
    
}
section .inputbox1 {
    display: grid;
    padding: 0.4rem;
    border-radius: .8em ;
    line-height: 55px;
    font: size 1rem; }
    



section .social-icon {
    position: relative;
    top: 5px;
    left: 5px; 
    height: 50px; 
    width: 46px; 
    border: 1px solid black;
    margin:0 0 1rem ;
    display :flex;
    justify-content:center;
    align-items:center ;
    text-decoration: none;
    color: black;
    font-size: medium;
    border-radius :50%;
}
